RewriteEngine On

# Leite alle "/admin" URLs, unabhängig von der Endung, zu admin.php um
RewriteRule ^admin(\.[a-zA-Z0-9]+)?$ admin.php [L]

# Überprüfe, ob die angeforderte Datei nicht existiert
RewriteCond %{REQUEST_FILENAME} !-f

# Überprüfe, ob das angeforderte Verzeichnis nicht existiert
RewriteCond %{REQUEST_FILENAME} !-d

# Schließe Anfragen für Dateien mit bestimmten Erweiterungen aus
RewriteCond %{REQUEST_URI} !\.[a-zA-Z0-9]{2,5}$

# Leite alle anderen Anfragen an index.php um
RewriteRule ^(.*)$ index.php [L]
